name: Tests
on: [push]
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Run Tests
        working-directory: ./api
        run: go test -v -bench=. -race ./...
